@model SimonsVossSearchPrototype.Models.SearchModule

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Term, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Term, new { htmlAttributes = new { id = "terms", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Term, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group hide">
        @Html.LabelFor(model => model.Results, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Results, new { @class = "form-control full-width", style = "height: 300px" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="btnSearch" class="btn btnfklllfdfkekfprewopr33-default">Search</button>
            <button class="btn btn-link">
                @Html.ActionLink("Back", "Search", "Home")
            </button>
        </div>
    </div>
</div>
