@model SimonsVossSearchPrototype.Models.SearchModule

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Term, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Term, new { htmlAttributes = new { id = "terms", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Term, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Results, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Results, new { @class = "form-control full-width", style = "height: 300px" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="btnSearch" class="btn btn-default">Search</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="table1 margin-bottom"></div>
</div>
<div class="row">
    <div class="table2 margin-bottom"></div>
</div>
<div class="row">
    <div class="table3 margin-bottom"></div>
</div>
<div class="row">
    <div class="table4 margin-bottom"></div>
</div>

    <p>

    </p>


    @section scripts{

        @Scripts.Render("~/bundles/jsontotable")

        <script type="text/javascript">
            $(function () {
                $("#btnSearch").click(function () {
                    $("#Results").val("");
                    var url = "../api/locks/search/";
                    $.getJSON(url, { term: $("#terms").val() })
                        .done(function (json) {
                            console.log("JSON Data: ");
                            console.log(json);
                            var val = setResult("Buildings", json.buildings.count, json.buildings.list);
                            val += setResult("Locks", json.locks.count, json.locks.list);
                            val += setResult("Groups", json.groups.count, json.groups.list);
                            val += setResult("Medias", json.medias.count, json.medias.list);

                            $("#Results").val(val);
                            createTableFromJson('.table1', json.buildings.list);
                            createTableFromJson('.table2', json.locks.list);
                            createTableFromJson('.table3', json.groups.list);
                            createTableFromJson('.table4', json.medias.list);
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            console.log("Request Failed: " + err);
                            $("#Results").val("Request Failed: " + err);
                        });
                });

                function setResult(title, count, list) {
                    var val = "------" + title + "--------\n";
                    val += "Count: " + count + "\n";
                    var matched = JSON.stringify(list, undefined, 2);
                    val += matched;
                    val += "\n----------------------------------\n";

                    return val;
                }

                function createTableFromJson(divSelector, jsonObject) {
                    var data = jsonObject;

                    $(divSelector).createTable(data, {
                        // General Style for Table
                        borderWidth: '1px',
                        borderStyle: 'solid',
                        borderColor: '#DDDDDD',
                        fontFamily: 'Verdana, Helvetica, Arial, FreeSans, sans-serif',

                        // Table Header Style
                        thBg: '#F3F3F3',
                        thColor: '#0E0E0E',
                        thHeight: '30px',
                        thFontFamily: '"Open Sans Condensed", sans-serif',
                        thFontSize: '14px',
                        thTextTransform: 'capitalize',

                        // Table Body/Row Style
                        trBg: '#fff',
                        trColor: '#0E0E0E',
                        trHeight: '25px',
                        trFontFamily: '"Open Sans", sans-serif',
                        trFontSize: '13px',

                        // Table Body's Column Style
                        tdPaddingLeft: '10px',
                        tdPaddingRight: '10px'
                    });
                }
            });
        </script>

    }
